/* fonts form google font.com */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


h1{
    text-align: center;
    font-size: 60px;
    font-family:  'Lobster', cursive;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul {
    list-style: none;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    
}
li {
    width: 110px;
    height: 110px;
    /* border: 1px dotted; */
    background: url('https://i.imgur.com/6qR4psC.jpg');
    cursor: pointer;
}
.list0{
    background-position-x: 0px;
    background-position-y: 0px;
}
.list1{
    background-position-x: -110px;
    background-position-y: 0px;
}
.list2{
    background-position-x: -220px;
    background-position-y: 0px;
}
.list3{
    background-position-x: -330px;
    background-position-y: 0px;
}
.list4{
    background-position-x: 0px;
    background-position-y: -110px;
}
.list5{
    background-position-x: -110px;
    background-position-y: -110px;
}
.list6{
    background-position-x: -220px;
    background-position-y: -110px;
}
.list7{
    background-position-x: -330px;
    background-position-y: -110px;
}
.list8{
    background-position-x: 0px;
    background-position-y: -220px;
}
.list9{
    background-position-x: -110px;
    background-position-y: -220px;
}
.list10{
    background-position-x: -220px;
    background-position-y: -220px;
}
.list11{
    background-position-x: -330px;
    background-position-y: -220px;
}
.list12{
    background-position-x: 0px;
    background-position-y: -330px;
}
.list13{
    background-position-x: -110px;
    background-position-y: -330px;
}
.list14{
    background-position-x: -220px;
    background-position-y: -330px;
}
.list15{
    background-position-x: -330px;
    background-position-y: -330px;
}
.start-button{
    background-color:white;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    position: absolute;
    font-family:  'Amatic SC', cursive;;
}
.game-text {
    position: absolute;
    font-size: 50px;
    text-shadow: 1px 1px gray;
}
.hidden{
    display: none !important;
    position: relative !important;
    background-color: transparent !important;
}
.first-face{
    width: 500px;
    height: 500px;
    background:url('https://i.imgur.com/7tbKTZU.jpg');
    background-size: 105%;
    position: absolute;
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#status {
    font-size: 30px;
    text-align: center;
    font-family:'Lobster', cursive;
}
#clickMe {
    font-size: 20px;
    margin-top: 30px;
}
#statusContainer{
    text-align: center;
}
#winner {
    font-size: 35px;
    font-family:'Lobster', cursive;
    color: gold;
}
#endGame {
    font-size: 30px;
    font-family:'Lobster', cursive;
    padding-bottom: 420px;
}